@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Colors*/
  --primary: #3ddc84;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--segoe-stack);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #40fd51 #0c0e19;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0c0e19;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #40fd51;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #35d945;
}
