@import 'tailwindcss';

:root {
  /* Fonts */
  --segoe-stack:
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';

  /* Background color */
  --background: #ffffff;
  --foreground: #171717;

  /* Colors*/
  --primary: #1ee449;
  --light-green: #7ab181;
  --dark-green: #02730c;
  --darkest-green: #070916;
  --dark-gray: #151722;

  /* Gradients */
  --linear-gradient: linear-gradient(11deg, #1ee449, #000000);
  --gradient-stop-1: #1ee449;
  --gradient-stop-2: #000000;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  /*Fonts*/
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-segoe: var(--segoe-stack);

  /*Question card*/
  --color-card-background: var(--dark-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--segoe-stack);
}

@layer components {
  /* Question card designs*/
  .question-card {
    @apply flex flex-col justify-start bg-card-background shadow-lg rounded-xl px-8 py-10 hover:shadow-2xl transition-shadow duration-300 max-w-112.5 md:max-w-100 h-auto overflow-hidden;
  }

  .question-card-title {
    @apply text-primary text-2xl tracking-wider font-semibold;
  }

  .question-card-description {
    @apply text-gray-300 text-xl line-clamp-5 mt-4;
  }

  /* Global background layout */
  .page-background {
    @apply min-h-screen w-full bg-[#070916] relative overflow-hidden;
  }

  .page-background-gradient {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);

    width: 120%;
    height: 65%;

    pointer-events: none;
    z-index: 1;

    background: radial-gradient(
      ellipse 60% 40% at 50% 100%,
      rgba(30, 228, 73, 0.55) 0%,
      rgba(30, 228, 73, 0.3) 30%,
      rgba(30, 228, 73, 0.12) 55%,
      transparent 75%
    );

    filter: blur(70px);
  }

  /* tetris block */
  .tetris-block {
    @apply absolute w-3 h-3 bg-primary opacity-30 transition-opacity duration-300;
  }

  .tetris-block:hover {
    @apply opacity-50;
  }

  /* white box */
  .white-box {
    @apply absolute bg-white;
    border-radius: 0;
  }

  /* top glow effect */
  .top-glow {
    @apply absolute top-0 left-0 right-0 h-32 bg-gradient-to-b from-primary/20 via-primary/5 to-transparent pointer-events-none blur-2xl;
  }

  /* navbar with transparency */
  .navbar-transparent {
    @apply bg-[#070916]/20 backdrop-blur-md border-b border-white/5;
  }
}
