@import 'tailwindcss';

:root {
  /* Fonts */
  --segoe-stack:
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';

  /* Background color */
  --background: #ffffff;
  --foreground: #171717;

  /* Colors*/
  --primary: #40fd51;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  /*Fonts*/
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-segoe: var(--segoe-stack);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--segoe-stack);
}
