name: Git Leak Detection

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  gitleaks-scan:
    name: Scan for Secrets
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Gitleaks
        uses: zricethezav/gitleaks-action@v2
        with:
          args: detect
